#Option, #Save { 	
	border:2px solid #e2dd48;
    border-color:#dac56e #c07a36 #a44e36 #c07a36;
	background:#000 url(https://orteil.dashnet.org/cookieclicker/img/darkNoise.jpg);
	background-image:url(https://orteil.dashnet.org/cookieclicker/img/shadedBordersSoft.png),url(https://orteil.dashnet.org/cookieclicker/img/darkNoise.jpg);
	background-size:100% 100%,auto;
	background-color:#000;
	border-radius:3px;
	box-shadow:0px 0px 1px 2px rgba(0,0,0,0.5),0px 2px 4px rgba(0,0,0,0.25),0px 0px 2px 2px #000 inset,0px 1px 0px 1px rgba(255,255,255,0.5) inset;
}
#Option, #Text, #Save { 	
    text-shadow: 2px 2px 5px black;
    font-family: 'Merriweather', serif;
	color:#ccc;
	line-height:100%;
	text-align: center;
}
#Option:hover { 	
    border-color:white;
	color:#fff;
}

#Option:active { 	
    border-color:#ccc;
	color:#ccc;
}

#buto {
    background-color: #ff6b6b;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
}
#buto:hover {
    transform: scale(1.1);
    background: #ff8787;
}



.container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}